
.sec-title(){
		font-size: 36px;
		text-transform: uppercase;
		font-family: "Montserrat Bold";
}
.p(){
	font-size: 16px;
	font-family: "Roboto Regular";
	
}
#overview, #work, #feature, #screenshot, #people, #team, #pricing{
	.title{
		text-align: center;
		margin-bottom: 100px;
	}
	.title h1{
		.sec-title()
	}
	.title p{
		.p();
		padding-left: 270px;
		padding-right: 270px;
		text-align: center;
	
	}
	.work,.team{
		color: #fff;
	}
}
#overview{
	.content{
		.ov-item{
			text-align: center;
			padding: 50px 10px 50px 10px;
			h2{
				font-size: 18px;
				text-transform: uppercase;
				font-family: "Roboto Bold";
			}
			p{
				.p();	
				text-align: center;
	
			}
		}
		.ov-item:hover{
		  box-shadow: 0px 0px 10px 1px #888888;
		}
	}
}
#work{
	background: url('../assets/images/work-bg.png') center center/cover;
	.wk-image{
		padding-left: 70px;
		img{
			margin-right: 60px;
		}
	}
	.wk-content{
		.wk-it{
			color: #fff;
			img{

			}
			h2{
				.h2();
			}
			p{
				.p();
				text-align: center;
	
			}
		}
	}
}
#feature{
	.ft-content{
		.middle{
			padding-top: 250px;
			img{
				width: 100%;
				height: auto;
			}
		}
		.ft-it{
			padding: 0 15px 0 15px;
			img{
				margin-left: 80px;
			}
			h2{
				.h2();
			}
			p{
				.p();
				text-align: center;
	
			}
		}
		.it1{
			margin-top: 100px;
		}
		.it2, .it4{
			margin-top: 325px;
		}
	}
}
.h2(){
	font-size: 24px;
	font-family: "Roboto Bold";
	text-align: center;
}
#screenshot{
	ul.src-menu{
		margin-left:15%;
		display: flex;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	ul.src-menu li{
		list-style-type: none;
		margin-right: 50px;
		
	}
	ul.src-menu li a{
		font-size: 16px;
		font-family: "Roboto Regular";
		color: black;
		padding: 5px 20px 5px 20px;
		border-radius: 25px;
	}
	ul.src-menu li a:hover{
		border: 1px solid #7d5ce8;
		color: #7d5ce8;
	}
	.grid{
		margin-top: 80px;
		display: flex;
		justify-content:         space-around;
		.grid-item{
			margin-right: 20px;
			margin-bottom: 20px;
		}
		.grid-item::before{
				content : "";
				top:0;
				bottom:0;
				left:0;
				right:0;
				position: absolute;
				opacity: 0.8;
				display:none;
				transition: all 1s;
				width: 90%;
		}
		.grid-item:hover:before{
			display: block;
			 transition: all 1s;
		}
		.grid-item:hover .hover-inner{
			display:block;
		}
		.grid-item:hover .hover-inner .plus-inner{
			display:block;
		}
		.grid-item .hover-inner{
		 	display: none;
			top: 30px;
			margin-left: 25px;
			position: absolute;
			text-align: center;
			transition: all 1s;	
		}	
		.grid-item .hover-inner .plus-inner{
			top: 180px;
			margin-left: 90px;
			position: absolute;
			transition: all 1s;	
		}	
	}
}
#video{
	background: url('../assets/images/video-bg.png') center center/cover;
	img{
		margin-left: 45%;
	}
	h1{
		font-size: 48px;
		font-family: "Roboto Bold";
		text-transform: uppercase;
		color: #fff;
	}
	p{
		.p();
		color: #fff;
		text-align: center;
	
	}
}
#people{
	.pp-it{
		.it-ct{
			padding: 30px 0 30px 0;
			margin: 0px 50px 0px 200px;
			p{
				margin-bottom: 0;
				font-family: "Roboto Italic";
				font-size: 16px;
			}
			h2{
				font-size: 14px;
				font-family: "Roboto Bold";
				text-transform: uppercase;
			}
			i.fa.fa-quote-left{
				font-size: 30px;
				color: #8359e9;
			}
			i.fa.fa-star{
				font-size: 15px;
				color: #8e54e9;
			}
		}
		
	}
	.pp-it.it1{
		background: url('../assets/images/quote-bg1.png') center center/cover;
		
	}
	.pp-it.it2{
		background: url('../assets/images/quote-bg2.png') center center/cover;
	}
}
#team{
	background: url('../assets/images/team-bg.png') center center/cover;
	.team-it{
		.mem-infor{
			margin-top: 0;
			padding-top: 10px;
			text-align: center;
			background-color: #fff;
			width: 270px;
			color: #606060;
			h1{
				font-size: 18px;
				font-family: "Roboto Bold";
				text-transform: uppercase;

			}
			span{
				font-size: 14px;
				font-family: "Roboto Regular";
			}
			.socail{
				border-top: 1px solid #eeeeee;
				padding: 10px 0 20px 0;
				i{
					font-size: 16px;
					color: #b2b2b2;
					padding: 15px;
					border-radius: 50%;
					
				}
				i:hover{
					background: #4b74e6;
					background: linear-gradient(to right, #4b74e6, #8956e9);
					color: #fff;
				}
			}
			
		}
	}
}
#pricing{
	.price-it{
		width: 100%;
		border: 1px solid #eeeeee;
		padding-top: 30px;
		.pr-it-ct{
			text-align: center;
			h1{
				font-size: 24px;
				font-family: "Roboto Bold";
				text-transform: uppercase;
				color: #8e54e9;
			}
			img{
				margin-top: 20px;
				margin-bottom: 20px;
			}
			ul.list{
				border-top: 1px solid #eeeeee;
				padding-top: 20px;
				padding-left: 0;
				list-style-type: none;
				.p();
				color: #a2a2a2;
			}
			.cost{
				padding-bottom: 50px;
				padding-top: 30px;
				border-bottom: 1px solid #eeeeee;
				font-size: 18px;
				font-family: "Roboto Bold";
				color: #8e54e9;
				span{
					font-size: 72px;
				}
			}
			button{
				margin-top: 30px;
				margin-bottom: 30px;
				.p();
				text-align: center;
				color: #5c6ce7;
				background: none;
				border: 1px solid #5c6ce7;
				padding: 5px 25px 5px 25px;
				border-radius: 40px;
			}
		}
	}
	.price-it.active{
		width: 100%;
		background: url('../assets/images/active-bg.png') center center/cover;
		border: none;
		.pr-it-ct{
			h1, .cost{
				color: #4776e6;
			}
			ul.list{
				color: #666666;
			}
			button{
				background: #4b74e6;
				background: linear-gradient(to right, #4b74e6, #8956e9);
				color: #fff;
			}
		}
	}
}
#question{
	background: url('../assets/images/question-bg.png') center center/cover;
	.title.question h1{
		.sec-title();
		color: #fff;
	}
	.title.question p{
		.p();
		color: #fff;
	}

}