
.sec-title(){
		font-size: 36px;
		text-transform: uppercase;
		font-family: "Montserrat Bold";
}
.p(){
	font-size: 16px;
	font-family: "Roboto Regular";
	
}
.h1(){
	font-size: 16px;
	font-family: "Roboto Bold";
	text-transform: uppercase;
}
#overview, #work, #feature, #screenshot, #people, #team, #pricing, #latest-post, #touch, #footer{
	.title{
		text-align: center;
		margin-bottom: 100px;
	}
	.title h1{
		.sec-title()
	}
	.title p{
		.p();
		padding-left: 270px;
		padding-right: 270px;
		text-align: center;
	}
	.work,.team{
		color: #fff;
	}
}
#overview{
	.content{
		.ov-item{
			text-align: center;
			padding: 50px 10px 50px 10px;
			h2{
				font-size: 18px;
				text-transform: uppercase;
				font-family: "Roboto Bold";
			}
			p{
				.p();	
				text-align: center;
	
			}
		}
		.hvr-bubble-bottom:before{
				display: none !important;
		}
		.hvr-bubble-bottom:hover:before{
				display: block !important;
		}
		.ov-item:hover{
		  box-shadow: 0px 0px 10px 1px #888888;
		}
	}
}
#work{
	background: url('../assets/images/work-bg.png') center center/cover;
	.wk-image{
		padding-left: 70px;
		margin-bottom: 100px;
		img{
			margin-right: 60px;
			height: auto;
		}
	}
	.wk-content{
			background: url('../assets/images/line-bg.png') center center/cover;
		.wk-it{
			
			color: #fff;
			img{
				margin-left: 45%;
			}
			h1{
				font-size: 14px;
				font-family: "Roboto Bold";
				border: 1px solid;
				padding: 17px 0 17px 0;
				width: 15%;
				margin-left: 43%;
				border-radius: 50%; 
				// background-color: #5470e7;	
			}
			img{

			}
			h2{
				.h2();
			}
			p{
				.p();
				text-align: center;
	
			}
		}
	}
}
#feature{
	background: url('../assets/images/feature-bg.png') center center/cover;
	.ft-content{
		.middle{
			padding-top: 250px;
			img{
				width: 100%;
				height: auto;
			}
		}
		.ft-it{
			padding: 0 15px 0 15px;
			img{
				margin-left: 80px;
			}
			h2{
				.h2();
			}
			p{
				.p();
				text-align: center;
	
			}
		}
		.it1{
			margin-top: 100px;
		}
		.it2, .it4{
			margin-top: 325px;
		}
	}
}
.h2(){
	font-size: 24px;
	font-family: "Roboto Bold";
	text-align: center;
}
#screenshot{
	ul.src-menu{
		margin-left:15%;
		display: flex;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	ul.src-menu li{
		list-style-type: none;
		margin-right: 50px;
		
	}
	ul.src-menu li a{
		font-size: 16px;
		font-family: "Roboto Regular";
		color: black;
		padding: 5px 20px 5px 20px;
		border-radius: 25px;
	}
	ul.src-menu li a:hover{
		border: 1px solid #7d5ce8;
		color: #7d5ce8;
	}
	ul.src-menu li.active a{
		border: 1px solid #7d5ce8;
		color: #7d5ce8;

	}
	.grid{
		margin-top: 80px;
		display: flex;
		justify-content:         space-around;
		.grid-item{
			margin-right: 20px;
			margin-bottom: 20px;
		}
		.grid-item::before{
				content : "";
				top:0;
				bottom:0;
				left:0;
				right:0;
				position: absolute;
				opacity: 0.8;
				display:none;
				transition: all 1s;
				width: 90%;
		}
		.grid-item:hover:before{
			display: block;
			 transition: all 1s;
		}
		.grid-item:hover .hover-inner{
			display:block;
		}
		.grid-item:hover .hover-inner .plus-inner{
			display:block;
		}
		.grid-item .hover-inner{
		 	display: none;
			top: 30px;
			margin-left: 25px;
			position: absolute;
			text-align: center;
			transition: all 1s;	
		}	
		.grid-item .hover-inner .plus-inner{
			top: 180px;
			margin-left: 90px;
			position: absolute;
			transition: all 1s;	
		}	
	}
}
#video{
	background: url('../assets/images/video-bg.png');
	background-size: cover;
	padding-bottom: 267px;
	padding-top: 267px;
	img{
		margin-left: 45%;
	}
	h1{
		font-size: 48px;
		font-family: "Roboto Bold";
		text-transform: uppercase;
		color: #fff;
	}
	p{
		.p();
		color: #fff;
		text-align: center;
	
	}
}
#people{
	.pp-it{
		.it-ct{
			padding: 30px 0 30px 0;
			margin: 0px 50px 0px 200px;
			p{
				margin-bottom: 0;
				font-family: "Roboto Italic";
				font-size: 16px;
			}
			h2{
				font-size: 14px;
				font-family: "Roboto Bold";
				text-transform: uppercase;
			}
			i.fa.fa-quote-left{
				font-size: 30px;
				color: #8359e9;
			}
			i.fa.fa-star{
				font-size: 15px;
				color: #8e54e9;
			}
		}
		
	}
	.pp-it.it1{
		background: url('../assets/images/quote-bg1.png') center center/cover;
		
	}
	.pp-it.it2{
		background: url('../assets/images/quote-bg2.png') center center/cover;
	}
}
#team{
	background: url('../assets/images/team-bg.png') center center/cover;
	.team-it{
		img{
			width: 100%;
			height: auto;
		}
		.mem-infor{
			margin-top: 0;
			padding-top: 10px;
			text-align: center;
			background-color: #fff;
			
			color: #606060;
			h1{
				font-size: 18px;
				font-family: "Roboto Bold";
				text-transform: uppercase;

			}
			span{
				font-size: 14px;
				font-family: "Roboto Regular";
			}
			.socail{
				border-top: 1px solid #eeeeee;
				padding: 10px 0 20px 0;
				i{
					font-size: 16px;
					color: #b2b2b2;
					padding: 15px;
					border-radius: 50%;
					.fa .fa-facebook{
						padding: 15px 18px 15px 18px
					}
				}
				i.fa .fa-facebook{
					
				}
				i.fa .fa-facebook:hover{
					padding: 15px 18px 15px 18px
				}
				i:hover{
					background: #4b74e6;
					background: linear-gradient(to right, #4b74e6, #8956e9);
					color: #fff;
				}
			}
			
		}
	}
}
#pricing{
	.price-it{
		width: 100%;
		border: 1px solid #eeeeee;
		padding-top: 30px;
		.pr-it-ct{
			text-align: center;
			h1{
				font-size: 24px;
				font-family: "Roboto Bold";
				text-transform: uppercase;
				color: #8e54e9;
			}
			img{
				margin-top: 20px;
				margin-bottom: 20px;
			}
			ul.list{
				border-top: 1px solid #eeeeee;
				padding-top: 20px;
				padding-left: 0;
				list-style-type: none;
				.p();
				color: #a2a2a2;
			}
			.cost{
				padding-bottom: 50px;
				padding-top: 30px;
				border-bottom: 1px solid #eeeeee;
				font-size: 18px;
				font-family: "Roboto Bold";
				color: #8e54e9;
				span{
					font-size: 72px;
				}
			}
			button{
				margin-top: 30px;
				margin-bottom: 30px;
				.p();
				text-align: center;
				color: #5c6ce7;
				background: none;
				border: 1px solid #5c6ce7;
				padding: 5px 25px 5px 25px;
				border-radius: 40px;
			}
		}
	}
	.price-it.active{
		width: 100%;
		background: url('../assets/images/active-bg.png') center center/cover;
		border: none;
		.pr-it-ct{
			h1, .cost{
				color: #4776e6;
			}
			ul.list{
				color: #666666;
			}
			button{
				background: #4b74e6;
				background: linear-gradient(to right, #4b74e6, #8956e9);
				color: #fff;
			}
		}
	}
}
#question{
	background: url('../assets/images/question-bg.png') center center/cover;
	.title.question h1{
		.sec-title();
		color: #fff;
		text-align: left;
	}
	.title.question p{
		.p();
		color: #fff;
	}
	.ques-left{
		margin-top: 100px;
	}
	.question-it{
		margin-top: 100px;
		.accordion-item{
		button.accordion {
			background-color: #7d73ea;
		    color: #444;
		    cursor: pointer;
		    width: 100%;
		    border: none;
		    text-align: left;
		    outline: none;
		    font-size: 20px;
		    transition: 0.4s;
		    position: relative;
		    padding-left: inherit;
		    margin-top: 10px;
		    margin-bottom: 20px;
		    padding: 10px 0 10px 0;
		    h3{
		    	font-size: 16px;
		    	margin-left: 50px;
		    	color: #fff;
		    	font-family: "Roboto Bold";
		    	position: absolute;
		    	margin-top: 5px;
		    	padding-top: 4px;
		    }
		}
		button.accordion.active, button.accordion:hover {
   			 h3{
   			 	
   			 }
		}
		button.accordion:after {
		    content: '\02795';
		    font-size: 10px;
		    color: #fff;
		    float: right;
		    margin-right: 20px;
		    padding-left: 10px;
		    padding-right:10px;
		    border: 1px solid;
		}
		button.accordion:hover:after{
			background-color: #fff;
			color: #4776e6;
		}
		button.accordion.active:after {
			background-color: #fff;
   		 	content: "\2796";
   		 	color: #4776e6;

		}
		button.accordion.active:hover:after{
			background-color: #fff;
			color: #4776e6;
		}
		div.panel {
		   background-color: #7d73ea;
		    max-height: 0;
		    overflow: hidden; 
		    transition: 0.6s ease-in-out;
		    opacity: 0;
		    margin-bottom: 0px;
		    img{
		    	margin-left: 50px;

		    }
		    p{
				font-size: 14px;
				font-family: "Roboto Regular";
				color: #fff;
				margin-top: -80px;
				padding-left: 70px;
				padding-right: 100px;
		    }
		}
		div.panel.show {
			display: flex;
		    opacity: 1;
		    max-height: 500px;  
		    margin-top: -20px;
		}
		}
	}
	.ques-img{
		img{
			width: 100%;
			height: auto;
		}
	}
}
#latest-post, #page-content{
	.post-it{
		background-color: #f9f9f9;
		margin-bottom: 50px;
		img{
			width: 100%;
		}
		.post-it-ct{
			padding: 0 35px 20px 35px;
			h1{
				font-size: 18px;
				font-family: "Roboto Bold";
				text-transform: uppercase;
				color: #606060;
				text-align: left;
			}
			span{
				font-size: 14px;
				font-family: "Roboto Bold";
				color: #bebebe; 
			}
			p{
				.p();
				color: #666666;
			}
			a{
				font-size: 14px;
				color: #7898eb;
				text-transform: uppercase;
				font-family: "Roboto Bold";
				i{
					margin-left: 10px;
				}
			}
		}
	}
	.post-it:hover{
		box-shadow: 0px 0px 10px 1px #888888;
	}
}
#getapp{
	background: url('../assets/images/app-bg.png') center center/cover;
	.title h1{
		.sec-title();
		text-align: left;
	}
	.title p{
		.p();
	}
	.app-it{
		margin-top: 100px;
		h1{
			font-size: 24px;
			font-family: "Roboto Bold";
			text-transform: uppercase;
			text-align: left;
		}
	}
}
#touch{
	background: url('../assets/images/touch-bg.png');
	background-size: cover;
	.touch-ct{
		.contact{
			width: 50%;
			background-color: #fff;
			padding-left: 40px;
			padding-bottom: 50px;
			padding-right: 70px;
			h1{
				font-size: 18px;
				text-transform: uppercase;
				font-family: "Montserrat Bold";
				text-align: left;
				padding-top: 40px;
			}
			p{
				.p();
			}
			.ct-infor{
				span{
					font-size: 14px;
					font-family: "Roboto Bold";
					text-transform: uppercase;
					color: #4776e6;
					i{
						font-size: 20px;
						margin-right: 20px;
					}
					p{
						.p();
					}
				}
			}
		}
		.map{
			width: 50%;
			height: auto;
			float: right;
			margin-top: -587px;

		}
		.ct-form{
			background-color: #3059be;
			padding-left: 40px;
			padding-right: 40px;
			padding-bottom: 73px;
			h1{
				font-size: 18px;
				text-transform: uppercase;
				font-family: "Montserrat Bold";
				text-align: left;
				padding-top: 40px;
				color: #fff;
			}
			form{
				input{
					font-size: 14px;
					font-family: "Roboto Regular";
					width: 100%;
					margin-bottom: 20px;
					padding-left: 20px;
					background-color: #456ac5;
					color: #a8b5e0;
					border: none;
				}
				input.message{
					height: 208px;
					padding-top: 0;
				}
				button{
						font-size: 14px;
						font-family: "Roboto Bold";
						text-transform: uppercase;
						color: #3059be;
						border: none;
						margin-top: 30px;
						border-radius: 30px;
						padding: 5px 25px 5px 25px;
						i{
							margin-left: 15px;
						}
				}
			}
		}
	}
}
#footer{
	background: url('../assets/images/footer-bg.png');
	background-size: cover;
	padding-top: 160px;
	padding-bottom: 150px;
	.subcribe{
		input{
			width: 50%;
			margin-left: 25%;
			font-size: 14px;
			font-family: "Roboto Regular";
			padding:10px 20px 10px 20px;
			background-color: #5378d2;
			color: #99ace1;
			border: none;
			border-radius: 30px;
			position: relative;
		}
		button{
			font-size: 14px;
			font-family: "Roboto Bold";
			text-transform: uppercase;
			color: #3059be;
			border: none;
			margin-top: 30px;
			border-radius: 30px;
			padding: 10px 25px 10px 25px;
			position: absolute;
			top: 53%;
			right: 25%;
			i{
				margin-left: 15px;
			}
		}
		p{
			margin-left: 33%;
			margin-top: 80px;
			font-size: 18px;
			font-family: "Roboto Regular";
			color: #fff;
			span{
				font-family: "Roboto Bold";
			}
		}
	}
}

@media screen and (max-width: 1200px) and(min-width: 769px){

	.navbar-header{
		float: none;
	}
	.navbar-toggle{
		display: block;
		color: white !important;
	}
	//style for the button menu
	//display none menu
	.navbar-collapse.collapse{
		display: none !important;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color: none !important;
	}
	.navbar-collapse.in {
		overflow-y: auto;
	}
	//display ul menu when click menu button
	.collapse.in {
		display: block !important;
		visibility: visible;
	}
	.navbar-collapse{
		border-top: none !important;
	}
	//tyle for the element in menu
	ul.menu{
		display: flex;
		flex-direction: column;
		float: left !important;
		margin-left: 0;
		height: auto !important;
		li{
			height: 50px !important;
		}

	}
	header .logo{
		margin-top: 0 !important;
	}
	#slide .image img{
		width: 80%;
		height: auto;
	}
	#work .wk-image{
		padding-left: 0;
	}
	#work .wk-image img{
		margin-right: 0;
		width: 50%;
		height: auto;
		margin-left: 30%;
	}
	#footer .subcribe button{
		top: 56%;
	}
	#overview .content{
		display: flex;

	}
	#screenshot .grid{
		margin-left: 30px;
	}
	#screenshot ul.src-menu{
		margin-left: 10%;
	}
	#screenshot ul.src-menu li{
		margin-right: 20px;
	}
	.team-it.hvr-grow{
		margin-bottom: 30px;
	}
	.pp-it.it1.hvr-grow{
		margin-bottom: 50px;
	}
	#question .ques-img img{
		width: 50%;
		height: auto;
		margin-left: 100px;
		margin-top: 50px;
	}
	#footer .subcribe button{
		top: 65%;
	}
	//responsive for the blog-detail
	#page-details{
		.page-detail-ct{
			margin-left: 50px !important;
			margin-right: 50px !important;
		}
	}

}
// responsive for iphone
@media screen and(max-width: 768px) and (min-width: 568px){
	ul.menu{
		display: flex;
		flex-direction: column;
		float: left !important;
		margin-left: 0;
		height: auto !important;
		li{
			height: 50px !important;
		}
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color: none !important;
	}
	.navbar-collapse.in {
		overflow-y: auto;
	}
	//display ul menu when click menu button
	.collapse.in {
		display: block !important;
		visibility: visible;
	}
	.navbar-collapse{
		border-top: none !important;
	}
	.navbar-toggle{
		color: #fff;
		margin-top: -50px;
	}
	header #slide{
		margin-top: 0 !important;
	}
	.title p{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	#work .wk-image{
		padding-left: 	100px;
	}
	#work .wk-image img{
		margin-bottom: 30px;
		width: 80%;
		height: auto;
	}
	#feature .ft-content .ft-it{
		padding: 0 40px 0 40px;
	}
	#feature .ft-content .ft-it img{
		margin-left: 43%;
	}
	#feature .ft-content .middle{
		padding-top: 0 !important;

	}
	#feature .ft-content .it2, #feature .ft-content .it4{
		margin-top: 0;
	}
	#screenshot ul.src-menu li{
		margin-right: 0 !important;
	}
	#screenshot ul.src-menu{
		padding-left: 0;
		margin-left: 10px !important;
	}
	#screenshot .grid .grid-item{
		margin-left: 30%;
	}
	#team .team-it.hvr-grow {
	    margin-bottom: 50px;
	    margin-left: 20%;
	}
	#question .ques-img img{
		width: 80%;
		height: auto;
	}
	#latest-post .post-it{
		margin-bottom: 100px;
		
	}
	#overview .content .ov-item{
		padding-left: 100px;
		padding-right: 100px;
	}
	#pricing .price-it{
		margin-bottom:50px;
	}
	//responsive for the blog-detail
	#page-details{
		.page-detail-ct{
			margin-left: 30px !important;
			margin-right: 30px !important;
		}
	}
}
@media(max-width: 567px){
	.navbar-toggle{
		color: #fff;
		margin-top: -50px;
	}
	ul.menu{
		display: none;
		flex-direction: column;
		float: left !important;
		margin-left: 0;
		height: auto !important;
		li{
			height: 50px !important;
		}
	}
	.navbar-collapse{
		border-top: none !important;
	}
	header #slide{
		margin-top: 0 !important;
		padding-bottom: 100px;
	}
	.image{
		display: none;
	}
	.btn{
		display: none;
	}
	.title p{
		padding: 0 !important;
	}
	#work .wk-image{
		padding-left: 0 !important;
		img{
			width: 80%;
			height: auto;
			margin-bottom: 50px;
			margin-left: 20px;
		}
	}
	#screenshot ul.src-menu{
		margin-left: 0 !important;
		display: flex;
		flex-direction: column;
	}
	#people .pp-it .it-ct{
		margin: 0 !important;
	}
	#question .question-it .accordion-item button.accordion h3{
		margin-left: 0 !important;
	}
	//responsive for the blog-detail
	#page-details{
		.page-detail-ct{
			margin-left: 10px !important;
			margin-right: 10px !important;
		}
	}
}
@media(max-width: 370px){
	#footer .subcribe input, #footer .subcribe button{
		display:none;
	}
	#touch .touch-ct .map{
		display: none;
	}
	#touch .touch-ct .contact{
		width: 100%;
		padding-left: 20px !important;
	}
	#latest-post .post-it{
		margin-bottom: 30px !important;
	}
	.title h1{
		font-size: 20px !important;
	}
	#screenshot .grid .grid-item img{
		width: 100%;
		height: auto;
	}
	#work .wk-image img{
		margin-left: 0 !important;
	}
	//responsive for the blog-detail
	#page-details{
		.page-detail-ct{
			margin-left: 5px !important;
			margin-right: 5px !important;
		}
		.blog-post .quote h2{
			margin-left: 0 !important;
			margin-right: 0 !important;
			padding-left: 5px !important;
			padding-right: 5px !important;
		}
		.comment .cm-item{
			display: flex;
			flex-direction: column;
		}
		.comment .cm-item img{
			width: 100px;
			height: 100px;
		}
		.comment form.cm-form input.name, input.email{
				width: 90% !important;
				margin-bottom: 30px;
		}
	}
}
//css for the toggle button
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #7c55e9;
}
#nav-icon1{
		width: 50px;
		height: 45px;
		position: relative;
		margin: 0px auto;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		cursor: pointer;
}
#nav-icon1 span{
		display: block;
		position: absolute;
		height: 5px;
		width: 80%;
		background: #fff;
		border-radius: 5px;
		opacity: 1;
		margin-left: 5px;
		margin-top: 5px;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
}
#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 15px;
}

#nav-icon1 span:nth-child(3) {
  top: 30px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
//css for the bloglist
// end of css for button toggle
 #page-content{
 	//css for button page
		.page-button{
			text-align: right;
			a{
				font-size: 14px;
				font-family: "Roboto Regular";
				padding: 10px 15px 10px 15px;
				border: 1px solid;
				color: #afafaf;
				margin-right: 10px;
				border-radius: 50%;
			}
			a.active{
				background: #4b74e6;
				color: #fff;
				background: linear-gradient(to right, #4b74e6, #8956e9);
			}
		}
 }
 //css for the blog detail
 #page-details{
 	.page-detail-ct{
 		margin-left: 200px;
 		margin-right: 200px;
 	}
 	.blog-post{
 		img{
 			margin-bottom: 50px;
 			width: 100%;
 			height: auto;
 		}
 		.post-title{
 			h1{
 				font-size: 24px;
 				font-family: "Roboto Bold";
 				text-transform: uppercase;
 				color: #303030;
 				margin-bottom: 20px;
 				text-align: left;
 			}
 			span{
				font-family: "Roboto Bold";
				font-size: 14px;
				color: #cfcfcf;
				text-align: left;
				i{
					font-size: 20px;
					margin-right: 20px;
				}
 			}
 		}
 		p{
 			.p();
 			color: #666666;
 		}
		.quote{
			h2{
				font-family: "Roboto Italic";
				font-size: 16px;
				color: #4776e6;
				margin-left: 70px;
				margin-right:70px;
				padding-left: 30px;
				padding-right: 30px;
				padding-top: 20px;
				padding-bottom: 45px;
				background-color: #f9f9f9;
				border-left: 5px solid #4776e6;
				i{
					font-size: 30px;
				}
			}			
		}	
		.ct-social{
			margin-top: 80px;
			border-top: 1px solid #ebebeb;
			border-bottom: 1px solid #ebebeb;
			padding: 20px 0 20px 0;
			span{
				font-size: 18px;
				text-transform: uppercase;
				font-family: "Roboto Bold";
				margin-right: 20px;
			}
			a{
				float: right;
				margin-right: 0;
				color: #8c8c8c;
				font-size: 16px;
				font-family: "Roboto Regular";
				text-transform: uppercase;
				i{
					color: #8c8c8c;
					font-size: 20px;
				}
			}
		}	
 	}
 	.comment{
 		margin-top: 45px;
 		margin-bottom: 45px;
 		h1{
 			.h1();
 			text-align: left;
 			margin-bottom: 50px;
 		}
 		.cm-item{
 			border: 1px solid #ebebeb;
 			display: flex;
 			margin-bottom: 30px;
			img{
				height: 105px;
				margin-left: 30px;
				margin-top:  20px;
				margin-bottom: 20px;
			}
			.cm-ct{
				margin-left: 20px;
				.cm-title{
					display: flex;
					h1{
						.h1();
						color: #606060;
					}
					span{
						font-family: "Roboto Italic";
						font-size: 14px;
						color: #a1a1a1;
						margin-top: 13px;
						margin-left: 20px;
					}
				}
				p{
					font-size: 14px;
					font-family: "Roboto Regular";
					color: #666666;
					margin-bottom: -10px;
					padding-right: 30px;
					overview: hidden;
				}
				a{
					font-family: "Roboto Bold";
					font-size: 14px;
					color: #a1a1a1;
					text-transform: uppercase;
				}
			}
 		}
 		.cm-item.rp{
 			margin-left: 30px;
 			background-color: #f9f9f9;
 		}
 		form.cm-form{
 			input{
				font-size: 14px;
				font-family: "Roboto Regular";
				padding-left:30px;
				color: #8a8a8a;
				border: 1px solid #ebebeb;
 			}
 			input.name{
 				width: 47%;
 				margin-right: 32px; 				
 			}
 			input.email{
 				width: 47%;				
 			}
 			input.message{
 				width: 100%;
 				margin-top: 30px;
 				height: 200px;
 				margin-bottom: 30px;				
 			}
 			button.submit{
				background: #4b74e6;
				background: linear-gradient(to right, #4b74e6, #8956e9);
				color: #fff;
				font-size: 14px;
				font-family: "Roboto Bold";
				text-transform: uppercase;
				color: #fff;
				border: none;
				margin-top: 30px;
				border-radius: 30px;
				padding:10px 40px 7px 40px;
 			}
 		}
 	}
 }