.navbar{
	padding: 0 !important;
}
.navbar-default{
	background: none;
	border: none;
}
ul.menu{
	display: flex;
	margin-top: 50px;
	float: right;
	margin-right: 0;
}
ul.menu li{
	list-style-type: none;
	margin-right: 40px;
}
ul.menu li a{
	font-family: "Roboto Regular";
	font-size: 14px;
	color: #fff !important;
	padding: 10px 0 10px 0;
}
ul.menu li a:hover{
	border-bottom: 2px solid #fff;
}
ul.menu button{
	font-family: "Roboto Bold";
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	background: none;
	border: 1px solid #fff;
	border-radius: 30px;
	padding: 0px 20px 0 20px;
}
